* {
    margin: 0;
    padding: 0;
}

/* header */

header {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    padding: 20px 0;
}

.logo-field {
    width: 15%;
    max-width: 170px;
    min-width: 150px;
}

.logo-field > img {
    width: 100%;
}

.nav {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.nav > li > a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: inherit;
}

.navigation {
    width: 45%;
    color: #fff;
    max-width: 360px;
}

/* header end */

/* top-section */

.top-section {
    background: url("images/Capture.PNG") no-repeat;
    background-size: cover;
    min-height: 90vh;
}

.top-text-field {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.top-container {
    /* position: relative; */
}

.top-bitcoin-field > img {
    width: 5%;
}

.top-bitcoin-field {
    display: flex;
    justify-content: center;
    border: 2px solid #fff;
    width: 90%;
    padding: 5px;
    max-width: 440px;
}

.top-section-paragraph {
    margin: 25px 0;
}

.bitcoin-text {
    margin-left: 10px;
}

/* top-section end */